img {
    width: 180px;
}

.select-img {
    width: 40px;
}

.balloon1-top {
    position: relative;
    display: inline-block;
    // margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #fff;
  }
  
  .balloon1-top:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
  }