.main-content {
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  #messages {
    overflow-y: auto;
    max-height: 480px;
    background-color: #81a0c8;
  }

  #chat-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    textarea {
      resize: none;
    }
  }
}
